groq==0.30.0
langchain-core==0.3.69
langchain-groq==0.3.6
langsmith==0.4.6
numpy==2.3.1
pandas==2.3.1
psycopg2-binary==2.9.10
pydantic==2.11.7
python-dotenv==1.1.1
requests==2.32.4
SQLAlchemy==2.0.41
prefect==3.4.8
